//Colors
$primary: #00D16C;
$secondary: #9DA6B5;
$error: #FF5B37;
$succes: #677CF4;
$warning: #f4b740;

//Typography Colors
$titleColor: #14142b;
$bodyColor: #4e4b66;
$labelColor: #6e7191;
$placeHolderColor: #a0a3bd;
$lineColor: #dedede;
$inputColor: #eff0f7;
$backgroundColor: #f7f7fc;
$offWhiteColor: #fcfcfc;

@import "~bootstrap/scss/bootstrap.scss";
