.img-avatar {
  border-radius: 10px !important;
	object-fit: cover;
	object-position: center;
	display: block;
}
.nav-home {
  .nav-link {
    .media {
      img {
        border-radius:12px!important;
      }
    }
  }
}